# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Working directories
/Codechef/Codechef_Try
/CodeMarshal/CodeMarshal_Try
/HackerEarth/HackerEarth_Try
/LightOJ/LOJ_Try
/Spoj/Spoj_Try
/Toph/Toph_Try
/URI/URI_Try
/Uva/Others
/Uva/Uva_Try
/UVALive/UVALive_Try
